# This file is for unifying the coding style for different editors and IDEs.
# More information at http://EditorConfig.org

# No .editorconfig files above the root directory
root = true

[*]
indent_style             = space
charset                  = utf-8
trim_trailing_whitespace = true
insert_final_newline     = true

[*.{html,js,jsx,rb,scss,css,sass,xml}]
indent_size = 2

[Gemfile*]
indent_size = 2

[Rakefile]
indent_size = 2

# Use 4 spaces for indentation in Markdown files
[*.md]
indent_size = 4

# --- SYNTAX REFERENCE BELOW ---
#
# [*.{js,py}]
# [*.py]
# indent_style = space
# indent_size = 4
#
# [*.js]
# indent_style = tab
#
# [lib/**.js]
# indent_style = space
# indent_size = 2
#
# [{package.json,.travis.yml}]
# indent_style = space
# indent_size = 2
